#gallery-div {
  margin-top: 2em;
}
#gallery-links {
  margin-top: 2em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  a {
    background-color: $theme-light-accent;
    color: $theme-dark;
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.25em;

    &:hover {
      background-color: $theme-dark;
      color: $theme-light;
    }
  }
}
.gallery-div {
  background-color: $theme-dark;
  padding: 1em;
  border-radius: 10px;

  @include phone {
    border-radius: 0px;
  }

  h2 {
    color: $theme-light-accent;
    border-bottom: 1px solid $theme-light-accent;
  }

  .gallery {
    max-width: $max-width;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  
    &.container-fluid {
      height: 100%;
      padding-left: 0px;
      padding-right: 0px;
    }
  
    .mobile-label {
      @include desktop {
        display: none;
      }
  
      @include tablet {
        display: none;
      }
  
      @include phone {
        display: block;
      }
    }
  }

  .gallery-item-div {
      display: flex !important;
      justify-content: center;
      align-items: center;
      height: 450px;
    
      .gallery-item {
        height: auto;
        width: 300px;
        max-height: 450px;
        object-fit: fill;
        object-position: center;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        border-radius: 10px;

        &:hover {
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
          transition: all .3s ease-in-out;
          transform: scale(1.03);
        }
      }
  }
}