// Import variables
@import "variables";

// Import Mixins
@import "mixins";

// Partials
@import "colors";
@import "base";
@import "gallery";
@import "photographs";
@import "navigation";
@import "content";
@import "overlay";
@import "hero";
@import "about";
@import "avatar";

// The rest of the sass for the site
// Any kind of framework type css does in here
#app {
  padding-left: 0px;
  padding-right: 0px;
  background-color: $theme-light;
}
.max-width {
  max-width: 960px;
}
.margin-auto {
  margin: auto;
}

// Flexbox
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.justify-space-around {
  justify-content: space-around;
}
.align-items-center {
  align-items: center;
}

// Padding
.p-1 {
  padding: 1em;
}
.p-2 {
  padding: 2em;
}

// Margin
.m-1 {
  margin: 1em;
}
.m-2 {
  margin: 2em;
}