// Colors
$light-gray: #f3f9fb;
$green: #87c0cd;
$dark-green: #418898;
$light-blue: #226597;
$dark-blue: #113f67;
$white: #f9f9f9;
$dark: rgb(41, 41, 41);

// Testing out some colors
$theme-black: #1B1307;
// These colors came from colormind.io
$theme-light: #f9f9f9;          // Hint of Red
$theme-light-accent: #87c0cd;   // Half Baked
$theme-brand: #a3999b;          // Dust Gray
$theme-dark-accent: #8d9197;    // Oslo Gray
$theme-dark: #3a597c;           // East bay

// Others colors for bootstrap style classes
$primary: #a3999b;  // Dust gray
$info: #3a597c;     // East Bay
$success: #66a867;  // Aqua Forest
$warning: #e3982f;  // Fire Bush
$error: #f44336;    // Pomegranate

$dark-opacity: rgba(41, 41, 41, 0.75);

// Sizes
$max-width: 960px;
$base-font-size: 16px;

// Fonts
$lato: "Lato", sans-serif;
$rock-salt: "Rock Salt", cursive;
