// Colors
$light-gray: #f3f9fb;
$green: #87c0cd;
$light-blue: #226597;
$dark-blue: #113f67;
$white: #f9f9f9;
$dark: rgb(41, 41, 41);

// Sizes
$max-width: 960px;
$base-font-size: 16px;

// Fonts
$lato: "Lato", sans-serif;
$rock-salt: "Rock Salt", cursive;
